{% extends 'bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0)">
        <div class="container">
            <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper"></i>RSS News</a>
                </span>
            </div>
            <div class="navbar-right">
                <div class="navbar-text">
                    <button class="btn btn-default btn-xs">Log IN</button>
                    <button class="btn btn-default btn-xs">Log UP</button>
                </div>
            </div>
        </div>
    </nav>


<div class="container">
    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-0 col-md-6">
                {% for post in posts %}
                <div class="post-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{ post.title }}</h3>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>{{ post.text }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="btn-group">
                                            <a href = '/post/post.html'><button class="btn btn-sm btn-default">READ</button></a>
                                            <a href = ''><button class="btn btn-sm btn-default">ADD FAVORITE</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}

            </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>
</div>


{% endblock %}

