{% extends 'bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_content %}


<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0)">
        <div class="container">
            <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper"></i>RSS News</a>
                </span>
            </div>
            <div class="navbar-right">
                <div class="navbar-text">

                </div>
            </div>
        </div>
    </nav>

    <h1>ФОРМЫ</h1>
    <form action="{% url 'signup_user' %}" method="post">
        {% csrf_token %}
        <div class="col-md-4">
            <input type="text" name="user_name" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id="user_name_input">
            <input type="text" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            <input type="text" name="repeat_password" class="form-control" placeholder="Repeat password" aria-describedby="basic-addon1">
            <input type="text" name="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
        </div>
        <div class="btn-group btn-group-lg">
            <button type='submit' class="btn btn-sm btn-success">Отправить</button>
            <br>
            <a class="btn btn-sm btn-secondary" href="{% url 'index' %}">На главную</a>
        </div>
    </form>
    <button class="btn btn-sm btn-danger" id="check_name_btn">Проверить имя</button>





{% endblock %}

{% block add_script %}
    <script src="{% static 'rss_news/login.js' %}"></script>
{% endblock %}